@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap');

@import "tailwindcss";

*{
    font-family: outfit;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  

a.active {
  color: teal;
  position: relative;
}

a.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: teal;
  display: block;
}

@media (max-width:640px){
  a.active{
    color: #ffffff;
    background-color: teal;
  }
  
  a.active::after {
    display: none;
  }
}


